
#video-holder
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 100
  mix-blend-mode: screen
  pointer-events: none

video
  width: 100vw
  height: auto
  max-width: 800px
